.button1 {
    height: 30px;
    width: 200px;
    border-radius: 20px; 
    background-color: lightgray;
    font-size: 15pt;
    border: 1px solid black;
    margin: 10px;
    
    
}
.button2 {
    
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: green;
    color: white;
    font-size: 20pt;
    border: 1px solid black;
    margin: 10px;
    
}
.button3 {
    height: 40px;
    width: 200px;
    background-color: blue;
    color: white;
    font-size: 15pt;
    border: 1px solid black;
    margin: 10px;
    box-shadow: 10px 5px 5px black;

}